@import "tailwindcss";

:root {
  --background: #1c1917;
  --foreground: #ffffff;
  --secondary-background: #FE7A03;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
